* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    min-height: 100dvh; 

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55rem;
    background-image: url('../image/Fundo.png');
    background-position: center;
    background-size: cover;
}

header {
    width: 100%;
    height: 9rem;
    background: #ffbe00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem; 
}

header img {
    height: 6rem;
}


nav {
    display: flex;
    gap: 3rem;
}

nav a {
    text-decoration: none;
    color: #d70000;
    font-size: 2rem; 
    font-weight: 600;
    transition: 0.2s;
}

nav a:hover {
    color: #ffffff;
}


.titulo-header {
    font-size: 2.6rem; 
    font-weight: 800;
    color: red;
    margin-inline-start: 3rem;
    margin-inline-end: 3rem;
    align-items: center;
    margin-top: 0rem;

}


.santos {
    width: 100%;
    height: calc(100vh - 9rem); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    margin-top: 7rem;
    width: 38rem; 
    background: #FFF;
    padding: 3.5rem; 
    border-radius: 2rem; 
    box-shadow: 0 0 1.5rem #00000060; 
    text-align: center;
}

.card-login h2 {
    margin-bottom: 2rem;
    font-size: 2rem; 
    font-weight: 700;
}

.card-login input {
    width: 100%;
    padding: 1.2rem; 
    margin-top: 1rem; 
    border-radius: 1rem; 
    border: none;
    background: #4b4b4b;
    color: white;
    font-size: 1.6rem;
}

.esqueceu {
    display: block;
    margin: 1.2rem 0; 
    font-size: 1.4rem; 
    color: #4b4b4b;
    text-decoration: none;
}

.botao {
    width: 100%;
    padding: 1.4rem; 
    background: #ffbe00;
    border: none;
    border-radius: 1rem; 
    margin: 2rem 0; 
    font-size: 2rem; 
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}


.botao:hover {
    transform: scale(1.05);
    background: #ffcc33;
    box-shadow: 0 0 1rem #00000050; 
}


.cadastro {
    font-size: 1.6rem; 
}

.cadastro a {
    color: #5a00b3;
    font-weight: bold;
    text-decoration: none;
}
.menu-esquerda {

    gap: 2rem;


}
.menu-direita {

    align-items: center;
    gap: 2rem;
}

.menu-direita a:first-child {

    margin-inline-end: 2rem;
}