* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 9rem;
    background: #ffbe00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem; 
}

header img {
    height: 6rem;
}


nav {
    display: flex;
    gap: 3rem;
}

nav a {
    text-decoration: none;
    color: #d70000;
    font-size: 2rem; 
    font-weight: 600;
    transition: 0.2s;
}

nav a:hover {
    color: #ffffff;
}


.titulo-header {
    font-size: 2.6rem; 
    font-weight: 800;
    color: red;
    margin-inline-start: 3rem;
    margin-inline-end: 3rem;
    align-items: center;
    margin-top: 0rem;

}


.card-login {
    margin-top: 3rem;
    width: 60rem; 
    background: #FFF;
    padding: 3.5rem; 
    border-radius: 2rem; 
    box-shadow: 0 0 1.5rem #00000060; 
    text-align: center;
    background-color: #9d353c;

    .paella{
    position: relative;
    display: flex;
    right: 0.1rem;
    }
    .paella-e{
    position: relative;
    display: flex;
    gap: 2rem;
    right: 1rem;
     display: grid;
    grid-template-columns: 30rem;
    gap: 20px;
    align-items: start;
    }

    .santiago{
    position: relative;
    display: flex;
    left: 32rem;
    }
    .santiago-d{
    position: relative;
    }

    .febada{
    position: relative;
    display: flex;
    right: 0.1rem;
    }
    .febada-e{
    position: relative;
    }

    .gazpacho{
    position: relative;
    display: flex;
    left: 41rem;
    }
    .gazpacho-d{
    position: relative;
    }

    
    .paella-d-i{
    position: relative;
    height: 10rem;
    border-radius: 15%;
    top: 1rem;
    }
    .santiago-e-i{
    position: relative;
    height: 10rem;
    border-radius: 15%;
    }
    .febada-d-i{
    position: relative;
    height: 10rem;
    border-radius: 15%;
    }
    .gazpacho-e-i{
    position: relative;
    height: 10rem;
    border-radius: 15%;
    }

    .ultimo{
    position: relative;
    }

}


.menu-esquerda {

    gap: 2rem;


}
.menu-direita {

    align-items: center;
    gap: 2rem;
}

.menu-direita a:first-child {

    margin-inline-end: 2rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

p{
    margin-bottom: 10rem;
    font-size: 2rem;
}

h3 {
    font-size: 2.5rem;
}