* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 140rem;
}

header {
    width: 100%;
    height: 9rem;
    background: #ffbe00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem; 
}

header img {
    height: 6rem;
}


nav {
    display: flex;
    gap: 3rem;
}

nav a {
    text-decoration: none;
    color: #d70000;
    font-size: 2rem; 
    font-weight: 600;
    transition: 0.2s;
}

nav a:hover {
    color: #ffffff;
}


.titulo-header {
    font-size: 2.6rem; 
    font-weight: 800;
    color: red;
    margin-inline-start: 3rem;
    margin-inline-end: 3rem;
    align-items: center;
    margin-top: 0rem;

}


.card-login {
    margin-top: 3rem;
    width: 60rem; 
    background: #FFF;
    padding: 3.5rem; 
    border-radius: 2rem; 
    box-shadow: 0 0 1.5rem #00000060; 
    text-align: center;
    background-color: #9d353c;
    height: 115rem;

    

}

.paella{
    position: relative;
    display: flex;
    left: 2.1rem;
    }
    .paella-e{
    position: relative;
    display: flex;
    gap: 2rem; 
    right: 1rem;
     display: grid; /* Isso aqui tive que pesquisar como que fazia pq nois nao sabia como que faz*/
    grid-template-columns: 30rem; /* Isso aqui tive que pesquisar como que fazia pq nois nao sabia como que faz*/
    gap: 20px; 
    align-items: start; /* Isso aqui tive que pesquisar como que fazia pq nois nao sabia como que faz*/
    }

    .santiago{
    position: relative;
    display: flex;
    left: 32rem;
    bottom: 22rem;
    }
    .santiago-d{
    position: relative;
    display: flex;
    gap: 2rem; 
    left: 23.3rem;
     display: grid; /* Isso aqui tive que pesquisar como que fazia pq nois nao sabia como que faz*/
    grid-template-columns: 30rem; /* Isso aqui tive que pesquisar como que fazia pq nois nao sabia como que faz*/
    gap: 20px; 
    align-items: start; /* Isso aqui tive que pesquisar como que fazia pq nois nao sabia como que faz*/
    bottom: 21rem;
    }

    .febada{
    position: relative;
    display: flex;
    left: 2.1rem;
    top: -43rem;
    }
    .febada-e{
    position: relative;
    display: flex;
    gap: 2rem; 
    left: 1rem;
     display: grid; /* Isso aqui tive que pesquisar como que fazia pq nois nao sabia como que faz*/
    grid-template-columns: 30rem; /* Isso aqui tive que pesquisar como que fazia pq nois nao sabia como que faz*/
    gap: 20px; 
    align-items: start; /* Isso aqui tive que pesquisar como que fazia pq nois nao sabia como que faz*/
    top: -42rem;
    }

    .gazpacho{
    position: relative;
    display: flex;
    right: -41rem;
    top: -65rem;
    }
    .gazpacho-d{
    position: relative;
    display: flex; 
    gap: 1.9rem; 
    left: 23.3rem;
     display: grid; /* Isso aqui tive que pesquisar como que fazia pq nois nao sabia como que faz*/
    grid-template-columns: 30rem; /* Isso aqui tive que pesquisar como que fazia pq nois nao sabia como que faz*/
    gap: 20px; 
    align-items: start; /* Isso aqui tive que pesquisar como que fazia pq nois nao sabia como que faz*/
    top: -64rem;
    }

    
    .paella-d-i{
    position: relative;
    border-radius: 15%;
    bottom: 29rem;
    left: 16rem;
    width: 20rem;

    }
    .santiago-e-i{
    position: relative;
    border-radius: 15%;
    bottom: 47rem;
    right: 16rem;
    width: 20rem;
    }
    .febada-d-i{
    position: relative;
    border-radius: 15%;
    top: -68rem;
    left: 16rem;
    width: 20rem;
    }
    .gazpacho-e-i{
    position: relative;
    border-radius: 15%;
    top: -90rem;
    right: 16rem;
    width: 20rem;
    }

    .ultimo{
    position: relative;
    top: -87rem;
    }


.menu-esquerda {

    gap: 2rem;


}
.menu-direita {

    align-items: center;
    gap: 2rem;
}

.menu-direita a:first-child {

    margin-inline-end: 2rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

p{
    margin-bottom: 10rem;
    font-size: 2rem;
}

h3 {
    font-size: 2.5rem;
}