* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 9rem;
    background: #ffbe00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem; 
}

header img {
    height: 6rem;
}


nav {
    display: flex;
    gap: 3rem;
}

nav a {
    text-decoration: none;
    color: #d70000;
    font-size: 2rem; 
    font-weight: 600;
    transition: 0.2s;
}

nav a:hover {
    color: #ffffff;
}


.titulo-header {
    font-size: 2.6rem; 
    font-weight: 800;
    color: red;
    margin-inline-start: 3rem;
    margin-inline-end: 3rem;
    align-items: center;
    margin-top: 0rem;

}

.conteudo {
  width: 92%;
  max-width: 1100px;
  margin: 40px auto;
}

.titulo-pagina {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 800;
  color: #b30000;
  margin-bottom: 30px;
}

.bloco {
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 28px;
  font-size: 1.05rem;
  line-height: 1.5rem; /* Isso aqui tive que pesquisar como que fazia pq nois nao sabia como que faz*/
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.texto-amarelo {
  background: #f7c948;
}

.texto-vermelho {
  background: #9e1c1c;
  color: white;
}

.linha {
  display: flex;
  gap: 22px;
  margin-bottom: 30px;
  align-items: stretch;
}

.imagem {
  width: 50%;
  border-radius: 14px;
  object-fit: cover; /* Isso aqui tive que pesquisar como que fazia pq nois nao sabia como que faz*/
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.linha .bloco {
  width: 50%;
}

.menu-esquerda {

    gap: 2rem;


}
.menu-direita {

    align-items: center;
    gap: 2rem;
}

.menu-direita a:first-child {

    margin-inline-end: 2rem;
}