* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f2f2f2;
}

header {
    width: 100%;
    height: 9rem;
    background: #ffbe00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem; 
}

header img {
    height: 6rem;
}


nav {
    display: flex;
    gap: 3rem;
}

nav a {
    text-decoration: none;
    color: #d70000;
    font-size: 2rem; 
    font-weight: 600;
    transition: 0.2s;
}

nav a:hover {
    color: #ffffff;
}


.titulo-header {
    font-size: 2.6rem; 
    font-weight: 800;
    color: red;
    margin-inline-start: 3rem;
    margin-inline-end: 3rem;
    align-items: center;
    margin-top: 0rem;

}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.home-box {
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.titulo-home {
  text-align: center;
  color: red;
  font-weight: bold;
  margin-bottom: 15px;
}

.topo {
  display: grid;
  grid-template-columns: 140px 1fr 140px;
  gap: 20px;
  align-items: start;
  margin-bottom: 18px;
}

.topo-img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.12);
  border: 4px solid #fff; 
}

.texto-principal p {
  font-size: 14px;
  line-height: 1.6;
  color: #222;
  background: transparent;
  margin: 0;
  padding: 6px 0;
}

.destaque-amarelo {
  background: #f7c948;
  border-radius: 20px;
  padding: 15px;
  margin: 20px 0;
  font-size: 14px;
}

.imagem-grande img {
  width: 100%;
  border-radius: 20px;
  margin: 15px 0;
}

.secao-info {
  background: #f7c948;
  border-radius: 20px;
  padding: 15px;
  font-size: 14px;
}

.rodape-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.box-vermelha {
  background: #9e1c1c;
  color: #fff;
  padding: 15px;
  border-radius: 20px;
}

.box-mapa img {
  width: 100%;
  border-radius: 15px;
}

.box-extra {
  background: #9e1c1c;
  color: #ffffff;
  padding: 15px;
  border-radius: 20px;
  margin-top: 15px;
  font-size: 14px;
}

.box-extra h3 {
  margin-bottom: 8px;
  margin-top: 10px;
  font-size: 15px;
}

.box-extra ul {
  padding-left: 18px;
  margin-bottom: 10px;
}

.box-extra li {
  margin-bottom: 6px;
  line-height: 1.4;
}