* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 9rem;
    background: #ffbe00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem; 
}

header img {
    height: 6rem;
}


nav {
    display: flex;
    gap: 3rem;
}

nav a {
    text-decoration: none;
    color: #d70000;
    font-size: 2rem; 
    font-weight: 600;
    transition: 0.2s;
}

nav a:hover {
    color: #ffffff;
}


.titulo-header {
    font-size: 2.6rem; 
    font-weight: 800;
    color: red;
    margin-inline-start: 3rem;
    margin-inline-end: 3rem;
    align-items: center;
    margin-top: 0rem;

}
