*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: var(--dark-blue);
    margin: 0;
    padding: 0;
    
}

.all{
    background-color: var(--dark-grey);
    color: var(--light-blue);
    width: 92.5%;
    padding: 3.5%;
    border-radius: 12px;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 0.23rem;
}
header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
    background-color: #2563EB;
}
