* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    min-height: 100dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 9rem;
    background: #ffbe00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem; 
}

header img {
    height: 6rem;
}


nav {
    display: flex;
    gap: 3rem;
}

nav a {
    text-decoration: none;
    color: #d70000;
    font-size: 2rem; 
    font-weight: 600;
    transition: 0.2s;
}

nav a:hover {
    color: #ffffff;
}


.titulo-header {
    font-size: 2.6rem; 
    font-weight: 800;
    color: red;
    margin-inline-start: 3rem;
    margin-inline-end: 3rem;
    align-items: center;
    margin-top: 0rem;

}
.menu-esquerda,
.menu-direita {
    gap: 2rem;             
}

.titulo-header {
    font-size: 2.6rem;
    font-weight: 800;
    color: red;
    align-items: center;
    text-align: center;
   
}

header img {
    height: 6rem;
}


nav {
    display: flex;
    gap: 3rem;
}

nav a {
    text-decoration: none;
    color: #d70000;
    font-size: 2rem; 
    font-weight: 600;
    transition: 0.2s;
}

nav a:hover {
    color: #ffffff;
}




.card-turismo {
    width: 80%;
    margin: 4rem auto 3rem auto;     
    background: #9c2a2a;
    padding: 2rem;
    border-radius: 2rem;
    color: white;
}

.titulo-card {
    text-align: center;
    color: #ffe97a;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

.img-topo {
    width: 100%;
    border-radius: 1.5rem;
}

.subtitulo-card {
    text-align: center;
    font-size: 2.4rem;
    color: #ffe97a;
    margin: 2.5rem 0 1.5rem 0;
}

.conteudo-card {
    display: flex;
    gap: 2rem;
}

.lista-pontos {
    flex: 1;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.img-lateral {
    width: 25rem;
    height: auto;
    border-radius: 1.5rem;
}

.menu-esquerda {

    gap: 2rem;


}
.menu-direita {

    align-items: center;
    gap: 2rem;
}

.menu-direita a:first-child {

    margin-inline-end: 2rem;
}